@import url("https://fonts.googleapis.com/css2?family=Liter&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Liter", sans-serif;
  border: 1px solid #000;
  height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-family: "Liter", sans-serif;
}

a {
  text-decoration: none;
  color: white;
    font-size: 1.2rem;
    font-family: "Liter", sans-serif;
}
a:hover {
  color: rgb(21, 66, 244);
}
.logo {
   
 
   h1{ font-size: 1.5rem;
  font-weight: bold;
  color: rgb(21, 66, 244);
cursor: pointer;}
}
.container {
  width: 100%;
  height: 100vh;
  background: #000;
}
nav{
   
  
    height: 16vh; 
    display: flex;
    align-items: center;
    justify-content: space-around;
  ul{
    
    list-style-type: none;
    display: flex;
    gap: 2rem;
    
  }
}
.main_image img{
   
    width: 35vw;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
   
    left: 60px;

}
.main_details{
    color: white;

    width: 40vw;
    position: absolute;
    left: 650px;
    top: 200px;
    h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    span{
        font-size: 2.4rem;
        color: rgb(21, 66, 244);
    }
    p{

        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}
.social_link{
    position: absolute;
    
    top: 500px;
    left: 700px;
    display: flex;
    gap: 2rem;
    i{
        width: 40px;
        height: 40px;
        border: 2px solid rgb(7, 130, 206);
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 50%;
    }
}
.social_link i:hover{
    background: rgb(10, 49, 207);
    transform: scale(1.2) translateY(-5px);
    color: black;
    cursor: pointer;
    box-shadow: 0 0 30px rgb(10, 49, 207);
}
