@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
         font-family: "Inter", sans-serif;
         font-weight: 550;
}
nav{
   
    background-color:rgb(6, 39, 44);
    padding: 22px;
    display: flex;
    color: white;
    gap: 10px;
    justify-content: space-between;
     font-family: "Inter", sans-serif;
       /* font-family: "Playfair Display", serif; */
    cursor: pointer;
   li{
    list-style: none;
   }
   ul{
    display: flex;
    gap: 25px;

   }
}
#heading{
    font-weight: 800;
    font-size: large;
}
h1{
      font-family: "Great Vibes", cursive;
       font-weight: 400;
  font-style: normal;
}
.options{
   display: flex;
   gap: 12px;
   height: 43px;
}
button{
    background-color: red;
    color: white;
     font-family: "Inter", sans-serif;
   height: 40px;
   width: 120px;
   font-weight: 700;
}
.main_content{
    background-color: rgb(239, 236, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 870px;
    width: 100%;
}
.hero{
    display: flex;
    justify-content: space-between;
    img{
     width: 200px;
   height: 400px;
    }
}